@using CozaStore.Application.DTOs.AboutDTOs
@model AboutUpdateDTO
<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Haqqında cədvəlinin dəyişdirilməsi</h4>
                    <p class="card-description">
                        <a asp-action="index" class="btn btn-info">Geriyə qayıt</a>
                    </p>
                    <p>Köhnə şəkil</p>
                    <form enctype="multipart/form-data" class="forms-sample" method="post">
                        <input type="hidden" asp-for="ImageUrl" />
                        <img width="160" height="120" src="~/uploads/images/@Model.ImageUrl" alt="" />
                        <div class="form-group">
                            <label asp-for="Title">Başlıq</label>
                            <input asp-for="Title" class="form-control" placeholder="Başlıq daxil edin">
                            <span asp-validation-for=Title class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Açıqlama</label>
                            <input asp-for="Description" class="form-control" placeholder="Açıqlama daxil edin">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo">Şəkil</label>
                            <input asp-for="Photo" class="form-control">
                            <span asp-validation-for="Photo" style="color:red"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
