@using CozaStore.MVC.Application.DTOs.CategoryDTOs
@model CategoryCreateDTO

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kateqoriyanın yaradılması</h4>

                    <form method="post" enctype="multipart/form-data" class="forms-sample">
                        <div class="form-group">
                            <label asp-for="Name">Ad</label>
                            <input asp-for="Name" class="form-control" placeholder="Ad daxil edin">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Concept">Mövzu</label>
                            <input asp-for="Concept" class="form-control" placeholder="Mövzu daxil edin">
                            <span asp-validation-for="Concept" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo">Şəkil</label>
                            <input asp-for="Photo" class="form-control">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-form-label">Üst Kateqoriyalar</label>
                            <div>
                                <select asp-items="ViewBag.Categories" asp-for="ParentId" class="form-control" aria-label="Default select example">
                                    <option selected disabled>--Seçin--</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Yadda saxla</button>
                        <a asp-action="index" class="btn btn-warning">Ləğv et</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>